
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Raleway:ital,wght@1,200&family=Roboto+Mono:wght@100&display=swap');
/* Colors */



/* Padding/ Margins / Text */



/* Heading */

.header h1 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 140px;
    text-align: center;
    padding: 0;
    margin-top: 170px;
    color: black;
}

.bg-home {
    width: 100%;
    height: 80%;
    position: absolute;
    left:0px;
    top:0px;
    z-index:-1;
    filter: grayscale(60%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
}




.header p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.8);
}

.header {
    background-color: rgba(255, 255, 255, 0.35);

}

/* Menu Iteams */



/* Hover */



/* Footer */



/* Navbar */

#navcolor {
    background-color: rgba(255, 255, 255, 0.50);
    width: 100%;
    padding-top: 0;
    position: sticky;
    top: 0;
}

.container {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    margin-top: 0;
    position: sticky;
    top: 0;
}

.container a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.nav-link {
    padding-top: 30px;
    padding-left: 120px;
}


/* About */

#profil-pic {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    margin-top: 120px;
}

.about-top {
    text-align: center;
    margin-top: 300px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 90px;
}