@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');



html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat", "Lora";
    color: black;
}



.custom-h1-header h1 {
    font-size: 80px;
    margin-top: 4em;
    font-family: "Montserrat", sans-serif;
}

@media (max-height: 1924px) {
    .custom-h1-header h1 {
        margin-top: 2em;

    }
}

@media (min-height: 769px) {
    .custom-h1-header h1 {
        margin-top: 4em;

    }
}

@media (max-height: 768px) {
    .custom-h1-header h1 {
        margin-top: 4em;

    }
}


.bg-home {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    top:0px;
    z-index:-1;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: 100%;
}




.custom-h1-header p {
    font-size: 30px;

}

.header {
    background-color: rgba(255, 255, 255, 0.35);

}

/* Menu Iteams */



/* Hover */



/* Footer */

.page-footer {
    background-color: rgba(11, 139, 142, 0.2);
    margin-top: 100px;
    z-index: 0;
}

.footer-copyright {
    background-color: rgba(11, 139, 142, 0.3);
}

.page-footer i {

    color: black;
}

.container-social-media {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    margin-top: 0;
    position: sticky;
    top: 0;
}


/* Navbar */

button {
    z-index: 2;
}


.navbar input {
    opacity: 0;
    z-index: 5;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    cursor: pointer;
}

nav {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar input:checked ~ .collapse {
    display: block;
}

.navbar-toggler-icon {
    display: none;
 }

@media (max-width: 991px) {
    .navbar-toggler-icon {
      display: block;
    }
 }



#navcolor {
    background-color: rgba(11, 139, 142, 0.2);
    width: 100%;
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}


.nav-link {
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    z-index: 2;
}

.nav-item a {
    font-size: 30px;
}




@media (max-width: 1208px) {
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid, .navbar-expand-md>.container-lg, .navbar-expand-md>.container-md, .navbar-expand-md>.container-sm, .navbar-expand-md>.container-xl {
        padding-right: 0;
        padding-left: 0;
        }
    }




/* About */

.custom-text-contact {
    font-size: 20px;
}


#profil-pic {
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    height: auto !important;
}

@media all and (max-width: 500px) and (min-width: 500px), (min-width: 500px) {
    #profil-pic {
      width: 500px;
      height: auto;
    }
  }


.contact-top {
    text-align: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 90px;
    margin-top: 200px;
}


/* Project */


/* map */

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


.card h5 {
    text-align: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 44px;
}

.card p {
    text-align: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 24px;
}

.card-img-custom {
    height: 15em;
    object-fit: cover;
}

.container-skills {
    margin-top: 400px;
}

.lang {
    width: 150px;
    height: 150px;
}

.progress {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.h5-bar {
    text-align: center;
    
}

.text-skills h3 {
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
    font-family: "Cormorant Garamond", sans-serif;
} 

.text-skills {
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 30px;
}

.custom-h1 {
    text-align: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 50px;
    padding-bottom: 2em;
    padding-top: 4em;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid rgba(11, 139, 142, 0.87);
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid rgba(11, 139, 142, 0.87);
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}